@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat";
  font-weight: 400;
}

body {
  background: #1E1E1E;
  font-size: 1.6rem;
  height: 380rem;
}

a {
  text-decoration: none;
  color: #F8F8F8;
}
a:hover, a:visited {
  color: #F8F8F8;
}

ul {
  list-style-type: none;
}

header {
  margin-bottom: 6rem;
}

nav {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 6rem;
  font-weight: 500;
}
nav ul {
  display: flex;
}
nav ul li:not(:last-child) {
  margin-right: 4rem;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 120rem;
  height: 95vh;
  padding: 3rem;
}

.border-line {
  position: absolute;
  right: 0;
  padding-right: 5rem;
}
.border-line::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 19rem;
  height: 6rem;
  border: 1px #F8F8F8 solid;
  border-radius: 15px;
  z-index: 1;
}

.title-h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 3.3rem;
  color: #F8F8F8;
}

.logo {
  background: url(../img/logo.png) center/cover no-repeat;
  border-radius: 100%;
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
  margin-bottom: 3.3rem;
}

.btn {
  position: relative;
  width: 24rem;
  height: 7rem;
  color: #F8F8F8;
  background-color: #1E1E1E;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  z-index: 2;
}
.btn_circle {
  background: url(../img/IMAGE.png) center/cover no-repeat;
  width: 19rem;
  height: 19rem;
  border-radius: 100%;
  font-size: 1.4rem;
  box-shadow: 0rem -0.6rem 4.5rem rgba(1, 1, 1, 0.2);
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #F8F8F8;
  width: 28rem;
  height: 13rem;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 4.8rem;
}
.card:not(:last-child) {
  margin-right: 4rem;
}
.card__card-1 {
  transform: rotate(-9deg);
}
.card__card-2 {
  transform: rotate(9deg);
}
.card__card-3 {
  transform: rotate(-6deg);
}
.card__circle {
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  color: #F8F8F8;
  line-height: 2rem;
  z-index: 0;
}
.card__circle_card-1 {
  position: absolute;
  background: none;
  border: 0.2rem #F8F8F8 dashed;
  width: 30rem;
  height: 16rem;
  padding: 3rem 4rem;
  left: 23rem;
  top: -6rem;
  transform: rotate(-5deg);
}
.card__circle_card-2 {
  position: absolute;
  left: 62rem;
  top: -6rem;
  width: 25rem;
  height: 13rem;
  text-align: right;
  transform: rotate(-2.69deg);
}
.card__circle_card-3 {
  position: absolute;
  left: 29rem;
  top: 13.5rem;
  width: 28rem;
  height: 12rem;
  color: #1E1E1E;
  transform: rotate(4.98deg);
}
.card__circle_card-4 {
  position: absolute;
  left: 62rem;
  top: 12.5rem;
  width: 24rem;
  height: 13rem;
  text-align: right;
  background: none;
  border: 0.2rem #F8F8F8 dashed;
  padding: 3rem 4rem;
  transform: rotate(7.51deg);
}
.card_star::after {
  content: "";
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #36B5FC url(../icons/Star.svg) center/3.4rem no-repeat;
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(1, 1, 1, 0.07);
}

.blue {
  background-color: #1619CE;
}

.section-first {
  position: relative;
  height: 54rem;
  margin-bottom: 24rem;
}
.section-first__main-box {
  width: 100%;
  height: 54rem;
  background: url(../img/background.png) center/contain no-repeat;
  border-radius: 4rem;
  padding: 4.5rem 15rem;
  text-align: center;
}
.section-first__cards {
  display: flex;
  justify-content: center;
  position: relative;
  top: -5.5rem;
}

.section-second {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-second__content {
  height: 20rem;
}

.section-third__grey-box {
  width: 100%;
  height: 36rem;
  background-color: red;
}/*# sourceMappingURL=style.css.map */