*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat";
  font-weight: 400;
  color: #F8F8F8;
}

body {
  overflow-x: hidden;
  background: #000000;
  font-size: 1.6rem;
  padding-bottom: 10rem;
}

a {
  text-decoration: none;
  color: #F8F8F8;
}
a:hover, a:visited {
  color: #F8F8F8;
}

ul {
  list-style-type: none;
}

header {
  margin-bottom: 6rem;
}

nav {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 6rem;
  font-weight: 500;
}
nav ul {
  display: flex;
}

.nav-menu {
  transition: 0.3s all;
}
.nav-menu:not(:last-child) {
  margin-right: 4rem;
}
.nav-menu:hover:not(:last-child) {
  color: #36B5FC;
}
.nav-menu a {
  position: relative;
  z-index: 1;
  transition: 0.3s all;
}
.nav-menu:hover:not(:last-child) a {
  transition: 0.3s all;
  color: #36B5FC;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  all: unset;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #1E1E1E inset;
  -webkit-text-fill-color: #F8F8F8;
}

textarea {
  font-family: "Montserrat";
  color: #F8F8F8;
  background-color: #1E1E1E;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  width: 100%;
  resize: none;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 114rem;
  padding: 3rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-60px {
  margin-bottom: 6rem;
}

.margin-bottom-100px {
  margin-bottom: 10rem;
}

.margin-bottom-150px {
  margin-bottom: 15rem;
}

.margin-bottom-200px {
  margin-bottom: 20rem;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("../fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  src: url("../fonts/Montserrat-Thin.ttf");
}
h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 3.3rem;
  color: #F8F8F8;
}

h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.9rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 4rem;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  font-weight: 500;
  line-height: 2.9rem;
}

.section-first {
  position: relative;
}
.section-first__main-box {
  width: 100%;
  height: 54rem;
  background: url(../img/background.png) center/cover no-repeat;
  border-radius: 4rem;
  padding: 4.5rem 15rem;
  text-align: center;
}
.section-first__cards {
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  top: -5.5rem;
}

.section-second {
  position: relative;
  display: flex;
  justify-content: center;
}
.section-second__center-cards {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section-third__grey-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36rem;
  background-color: #1E1E1E;
  border-radius: 3rem;
}
.section-third__box-skills {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 99vw;
  height: 20rem;
}
.section-third__box-skills_top {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 99vw;
}
.section-third__box-skills_bot {
  display: flex;
  justify-content: center;
  height: 8rem;
  width: 99vw;
}

.section-four {
  width: 100%;
  height: 40rem;
}
.section-four__text-box {
  display: flex;
  padding: 0 4rem;
  height: 12rem;
  justify-content: space-between;
  align-items: center;
}
.section-four__text-block {
  position: relative;
  display: flex;
  max-width: 22rem;
  color: #F8F8F8;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.3rem;
  transition: 0.3s all;
  cursor: default;
}
.section-four__text-block::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 120%;
  height: 160%;
  border-radius: 1.5rem;
  background-color: #F8F8F8;
  color: #0B0B0B;
  opacity: 0;
  transition: 0.3s all;
  z-index: -1;
}
.section-four__text-block:hover {
  color: #0B0B0B;
}
.section-four__text-block:hover::before {
  opacity: 1;
}
.section-four__text-block:not(:last-child) {
  margin-right: 8.6rem;
}
.section-four__text-block:not(:last-child)::after {
  content: "";
  position: relative;
  width: 0.2rem;
  height: 7rem;
  left: 4.2rem;
  background-color: #F8F8F8;
}
.section-four__cards-box {
  display: flex;
  justify-content: space-between;
}
.section-four__big-card {
  display: flex;
  width: 30%;
  height: 21rem;
  position: relative;
  overflow: hidden;
}

.section-five {
  width: 100%;
  height: 43rem;
}
.section-five__content {
  display: flex;
  justify-content: space-between;
}
.section-five__text-wrapper {
  max-width: 30%;
}
.section-five__slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 39rem;
}
.section-five__width {
  display: flex;
  position: relative;
  width: 55rem;
}

.section-six__content {
  display: flex;
  align-items: center;
  position: relative;
  height: 41rem;
}
.section-six__text-wrapper {
  position: relatives;
  z-index: 1;
  max-width: 43rem;
  height: 30rem;
}
.section-six__text-wrapper span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}
.section-six__contact {
  position: absolute;
  left: 34rem;
  width: 100vw;
  height: 100%;
  padding: 6.5rem 13.5rem;
  border-radius: 3rem;
  background-color: #1E1E1E;
}
.section-six__inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 34rem;
}

@keyframes invisibleCards {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes moveLeftTop {
  0% {
    translate: 0rem;
  }
  100% {
    translate: -176rem;
  }
}
@keyframes moveLeftBottom {
  0% {
    translate: 0rem;
  }
  100% {
    translate: 132rem;
  }
}
.input {
  position: relative;
}
.input:not(:last-child) {
  margin-bottom: 3.5rem;
}
.input__file {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.border-line {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 19rem;
  height: 6rem;
  border: 1px #F8F8F8 solid;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s all;
}
.border-line:hover {
  color: #F8F8F8;
}
.border-line:hover > div {
  opacity: 1;
  cursor: pointer;
}

.animation-button-bg {
  position: absolute;
  width: 32rem;
  opacity: 0;
  transition: 0.2s all;
}

.logo {
  background: url(../img/logo.png) center/cover no-repeat;
  border-radius: 100%;
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
  margin-bottom: 3.3rem;
}

.btn {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  padding: 2rem 2rem;
  height: -moz-max-content;
  height: max-content;
  color: #F8F8F8;
  background-color: #0B0B0B;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  z-index: 2;
  transition: 0.3s all;
  transform-style: preserve-3d;
  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0));
}
.btn_circle {
  background: url(../img/IMAGE.png) center/cover no-repeat;
  width: 19rem;
  height: 19rem;
  border-radius: 100%;
  font-size: 1.4rem;
  box-shadow: 0rem -0.6rem 4.5rem rgba(1, 1, 1, 0.2);
  animation: 2s ease invisibleCards infinite alternate;
}
.btn_circle:hover {
  box-shadow: 0rem -0.6rem 4.5rem rgba(1, 1, 1, 0.2);
}
.btn_circle:active {
  transform: scale(1.4);
}
.btn_input {
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
}
.btn:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));
}
.btn:active {
  transform: scale(1.07) translateY(1px);
  filter: drop-shadow(0px 3.5px 1px rgba(0, 0, 0, 0.2));
}

.card {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #F8F8F8;
  color: #0B0B0B;
  height: 13rem;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 4.8rem;
  backface-visibility: hidden;
  text-rendering: optimizeSpeed;
  transition: 2s all;
}
.card:hover {
  transform: scale(1.2);
}
.card:not(:last-child) {
  margin-right: 4rem;
}
.card__circle {
  width: 28rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
  color: #F8F8F8;
  line-height: 2rem;
  z-index: 0;
  transition: 0.5s all;
}
.card__circle_card-1 {
  position: absolute;
  background: none;
  border: 0.2rem #F8F8F8 dashed;
  width: 30rem;
  height: 16rem;
  padding: 3rem 4rem;
  left: 17%;
  top: -35%;
  transform: rotate(-5deg);
}
.card__circle_card-2 {
  position: absolute;
  left: 54%;
  top: -34%;
  width: 25rem;
  height: 13rem;
  text-align: right;
  transform: rotate(-2.69deg);
}
.card__circle_card-3 {
  position: absolute;
  left: 24%;
  top: 74%;
  width: 28rem;
  height: 12rem;
  color: #0B0B0B;
  transform: rotate(4.98deg);
}
.card__circle_card-4 {
  position: absolute;
  left: 55%;
  top: 60%;
  width: 24rem;
  height: 13rem;
  text-align: right;
  background: none;
  border: 0.2rem #F8F8F8 dashed;
  padding: 3rem 4rem;
  transform: rotate(7.51deg);
}
.card_star {
  width: 28rem;
}
.card_star::after {
  content: "";
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #36B5FC url(../icons/Star.svg) center/3.4rem no-repeat;
  box-shadow: 0rem 0rem 1rem 0.2rem rgba(1, 1, 1, 0.07);
}

.big-card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 4rem;
  background: #0B0B0B url(../img/bg-card-1.png) center/cover no-repeat;
  color: #F8F8F8;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  border-radius: 2rem;
  z-index: 2;
  backface-visibility: hidden;
}
.big-card__back {
  display: flex;
  align-items: flex-end;
  padding-bottom: 0.6rem;
  position: absolute;
  top: 0;
  background: #F8F8F8;
  color: #0B0B0B;
  z-index: 0;
  scale: 0.99;
}
.big-card:hover__back {
  opacity: 1;
}

.skill {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 29rem;
  height: 8rem;
  background-color: #1619CE;
  color: #F8F8F8;
  border-radius: 4rem;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s;
  backface-visibility: hidden;
  text-rendering: optimizeSpeed;
  will-change: transform;
}
.skill:not(:last-child) {
  margin-right: 15rem;
}
.skill__animation-top {
  animation: moveLeftTop 50s linear infinite;
}
.skill__animation-bottom {
  animation: moveLeftBottom 37.5s linear infinite;
}

.slider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  width: 55rem;
  height: 40rem;
}
.slider__arrow {
  transition: 0.2s all;
}
.slider__arrow_left {
  left: -6rem;
}
.slider__arrow_left:hover {
  transform: scale(1.3);
}
.slider__arrow_left:active {
  transform: scale(1.2);
}
.slider__arrow_right {
  right: -6rem;
  transform: rotate(180deg);
}
.slider__arrow_right:hover {
  transform: scale(1.3) rotate(180deg);
}
.slider__arrow_right:active {
  transform: scale(1.2) rotate(180deg);
}
.slider__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.slider__wrapper {
  display: flex;
}
.slider__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #222222;
}
.slider__dot:not(:last-child) {
  margin-right: 1.5rem;
}

.arrow {
  position: absolute;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background: #1619CE url(../icons/arrow.svg) 1.2rem/30% no-repeat;
}

.dot-active {
  transform: scale(1.3);
  background-color: #F8F8F8;
}

.outline::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #7C7C7C;
}

.blue {
  background-color: #1619CE;
}

.gradient {
  background: radial-gradient(circle, rgb(80, 198, 234) 0%, rgb(65, 136, 227) 100%);
}

.rotate_plus {
  transform: rotate(5deg);
}
.rotate_minus {
  transform: rotate(-2deg);
}

.hide {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 0;
}

.card-animation-up {
  display: flex;
  transition: all 0.3s;
}
.card-animation-up:hover {
  transform: translate3d(0, -6rem, 0);
}
.card-animation-up p {
  transition: all 0.3s;
}

.scale-hover:hover {
  scale: 1.1;
}

.swiper {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.swiper-slide h4 {
  position: absolute;
  font-weight: 900;
  line-height: 4.9rem;
  text-align: center;
  width: -moz-min-content;
  width: min-content;
  cursor: default;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -4rem;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 1.5rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #222222;
  transition: 0.2s all;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  transform: scale(1.1);
  background-color: #F8F8F8;
}

@media (min-width: 992px) and (max-width: 1140px) {
  .section-four__text-block:not(:last-child) {
    margin-right: 4rem;
  }
  .section-four__text-block:not(:last-child)::after {
    left: 1.5rem;
  }
  .section-five__slider {
    width: 67%;
  }
  .section-five__text-wrapper {
    max-width: 33%;
  }
  .section-five__width {
    width: 80%;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  html {
    font-size: 55%;
  }
  nav {
    padding: 2rem;
    justify-content: start;
  }
  .section-first__main-box {
    padding: 4rem 2rem;
  }
  .section-first__cards {
    flex-wrap: wrap;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card:not(:last-child) {
    margin: 0;
  }
  .card_star {
    text-align: right;
    padding: 2rem;
    font-size: 1.6rem;
    top: 3rem;
    width: 70%;
  }
  .card_star::after {
    transform: translate(25%, 70%);
  }
  .card__circle_card-1 {
    width: 28rem;
    height: 13rem;
    left: -2%;
  }
  .card__circle_card-3 {
    left: 3%;
    top: 74%;
  }
  .hide {
    left: 50%;
  }
  .skill {
    min-width: 25rem;
  }
  .skill:not(:last-child) {
    margin-right: 5rem;
  }
  .section-third__grey-box {
    height: 25rem;
  }
  .skill__animation-top {
    animation: moveLeftTop 50s linear infinite;
  }
  .skill__animation-bottom {
    animation: moveLeftBottom 50s linear infinite;
  }
  .section-four {
    height: -moz-max-content;
    height: max-content;
  }
  .section-four__text-box {
    flex-direction: column;
    height: -moz-max-content;
    height: max-content;
  }
  .section-four__text-block {
    max-width: 100%;
    padding: 1rem 2rem;
    align-items: center;
  }
  .section-four__text-block:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .section-four__text-block:not(:last-child)::before {
    display: none;
  }
  .section-four__text-block::before {
    display: none;
  }
  .section-four__text-block:not(:last-child)::after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: none;
    border-radius: 3rem;
    border: 0.2rem solid #F8F8F8;
    transition: 0.3s all;
  }
  .section-four__text-block::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: none;
    border-radius: 3rem;
    border: 0.2rem solid #F8F8F8;
    transition: 0.3s all;
  }
  .section-four__text-block:hover {
    scale: 1.1;
    color: #0B0B0B;
    transition: 0.3s all;
  }
  .section-four__text-block:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: white;
    border-radius: 3rem;
    border: 0.2rem solid #F8F8F8;
    z-index: -1;
  }
  .section-four__cards-box {
    flex-direction: column;
    align-items: center;
  }
  .section-four__big-card {
    width: 70%;
    height: 20rem;
    margin-bottom: 2rem;
  }
  @keyframes moveLeftTop {
    0% {
      translate: 0;
    }
    100% {
      translate: -120rem;
    }
  }
  @keyframes moveLeftBottom {
    0% {
      translate: 0;
    }
    100% {
      translate: 90rem;
    }
  }
}/*# sourceMappingURL=style.css.map */